@import './fonts.scss';
@import './icons.scss';

$off-white: #fbfcfd;
$black: #000000;
$grey: #8d95a3;
$ltgrey: #5d6167;
$blue: #0057b3;
$ltblue: #097ae6;
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

$desktop: 1440px;
$tablet: 768px;

$pad-lg: 120px;
$pad-md: 80px;
$pad-sm: 20px;

.hidden {
  pointer-events: none;
  visibility: hidden;
  overflow: hidden;
  height: 0;
}

html,
body * {
  font-family: 'Roboto';
  box-sizing: border-box;
  -webkit-user-select: none;
  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  margin: 0;
  font-style: normal;
  background: $grey;
}

.container,
.cards-container,
.review-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.container {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  max-width: $desktop;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
}

.cards-container {
  z-index: 1;
  display: grid;
  padding: 100px $pad-sm;
  gap: 40px;
  @media screen and (min-width: $tablet) {
    padding: 100px $pad-md;
    gap: 80px;
  }
  @media screen and (min-width: $desktop) {
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    padding: 100px $pad-lg;
  }
}

.card {
  position: relative;
  min-height: 250px;
  @media screen and (min-width: $desktop) {
    aspect-ratio: 300/250;
    min-width: 300px;
  }
}

.review-container {
  z-index: 2;
  padding: 0px $pad-sm;
  @media screen and (min-width: $tablet) {
    padding: 0px $pad-md;
  }
  @media screen and (min-width: $desktop) {
    padding: 0px $pad-lg;
  }
}

.header {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 60px;
  width: 100vw;
  max-width: $desktop;
  background: $blue;
  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    height: 60px;
    width: 100vw;
    background: $blue;
  }
}

.review,
.reply,
.card {
  position: relative;
  background: $off-white;
  box-shadow: $shadow;
}

.header-title,
.review-title,
.card-title {
  position: relative;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  cursor: pointer;
}

.header-title {
  color: $off-white;
  padding: 16px $pad-sm;
  @media screen and (min-width: $tablet) {
    padding: 16px $pad-md;
  }
  @media screen and (min-width: $desktop) {
    padding: 16px $pad-lg;
  }
}

.card-title {
  margin: 20px 20px 5px 20px;
  color: $black;
}

.review-text,
.reply-text,
.card-text {
  position: relative;
  font-size: 18px;
  line-height: 21px;
  color: $ltgrey;
}

.review {
  min-height: 250px;
  padding: 0px $pad-sm;
  margin: 100px 0px 40px 0px;
  @media screen and (min-width: $desktop) {
    margin-bottom: 55px;
    padding: 0px $pad-md; 
  }
}

.review-title {
  padding: 20px 0px 5px 0px;
  color: $black;
}

.review-text {
  padding: 25px 0px 54px 0px;
}

.reply {
  min-height: 146px;
  padding: 0px $pad-sm;
  margin-bottom: 100px;
  @media screen and (min-width: $desktop) {
    padding: 0px $pad-md;
  }
}

.reply-text {
  min-height: 107px;
  padding: 35px 0px 55px 0px;
}

.card-text {
  margin: 20px;
  max-height: calc(100% - 146px);
}

.review-date,
.reply-date,
.card-date {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  color: $grey;
}

.review-author,
.reply-author,
.card-author {
  position: relative;
  display: inline-block;
  margin-right: 28px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $black;
}

.review-author-date-row,
.reply-author-date-row,
.card-author-date-row {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.card-author-date-row {
  padding: 0px 20px;
}

.review-stars,
.card-stars {
  position: relative;
  font-size: 18px;
  line-height: 18px;
  color: #fbcd33;
}

.card-stars {
  margin-left: 20px;
}

.comments-icon,
.reply-icon,
.dots-icon {
  position: absolute;
}

.reply-icon {
  left: 28px;
  top: 35px;
  font-size: 18px;
  line-height: 18px;
  color: $ltblue;
}

.comments-icon {
  bottom: 0;
  right: 20px;
  font-size: 14px;
  line-height: 14px;
  color: $blue;
}

.dots-icon {
  right: 0;
  top: 35px;
  height: calc(100% - 35px);
  width: 50px;
  font-size: 18px;
  line-height: 18px;
  color: $blue;
  &:hover {
    color: $ltblue;
    .dot-options {
      visibility: visible;
    }
  }
}

.dot-options {
  position: absolute;
  color: $ltgrey;
  font-weight: normal;
  top: 18px;
  right: 0px;
  font-size: 18px;
  line-height: 18px;
  visibility: hidden;
  padding: 12px;
  div:hover {
    color: $ltblue;
  }
}

input[type='text'] {
  position: absolute;
  font-size: 18px;
  line-height: 21px;
  color: $ltgrey;
  background: $off-white;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 56px);
  border: none;
  resize: none;
  outline: none;
  &::placeholder {
    color: $ltblue;
  }
  padding: 0px $pad-sm 0px 54px;
  @media screen and (min-width: $desktop) {
    padding: 0px $pad-md;
  }
}
