/* globals */

@import './fonts.scss';
@import './icons.scss';

$off-white: #fbfcfd;
$grey: #8d95a3;
$ltgrey: #5d6167;
$blue: #0057b3;
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-style: normal;
  background: $off-white;
}

.container {
  z-index: 1;
  position: relative;
  margin: auto;
  
  width: 100vw;
  height: 100vh;
  
  max-width: 1440px; 
  max-height: 900px; 

  background: $grey;
}



/* containers */

.header {
  position: absolute;
  width: 100%;
  height: 60px;
  left: 0px;
  top: 0px;
  background: $blue;
}

.review, .reply, .card {
  background: $off-white;
  box-shadow: $shadow;
}

.review {
  position: absolute;
  width: 1200px;
  height: 250px;
  left: 120px;
  top: 100px;
}

.reply {
  position: absolute;
  width: 1200px;
  height: 146px;
  left: 120px;
  top: 405px; 
}

.card {
  position: absolute;
  width: 300px;
  height: 250px;
  left: 120px; 
  /* top: 100px; */
  bottom: 0; /* temp */
}



/* titles */

.header-title, .review-title, .card-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

}

.header-title {
  position: absolute;
  width: 90px;
  height: 28px;
  left: 120px;
  top: 16px;
  color: $off-white;
}

.review-title {
  position: absolute; 
  width: 504px;
  height: 28px;
  left: 80px;
  top: 20px;
  color: #000000;
}

.card-title {
  position: absolute;
  left: 20px;
  top: 20px;
  color: #000000;
}



/* text */

.review-text {
  position: absolute;
  width: 368px;
  height: 21px;
  left: 80px;
  top: 96px;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: $ltgrey;
}

.reply-text {
  position: absolute;
  width: 368px;
  height: 21px;
  left: 80px;
  top: 35px;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: $ltgrey;
}

.card-text {
  position: absolute;
  left: 20px;
  top: 96px;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: $ltgrey;
}



/* dates */
.review-date {
  position: absolute;
  width: 300px;
  height: 16px;
  left: 170px;
  top: 214px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $grey;
}

.reply-date {
  position: absolute;
  width: 300px;
  height: 16px;
  left: 170px;
  top: 85px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $grey;
}

.card-date {
  position: absolute;
  width: 75px;
  height: 16px;
  left: 108px;
  top: 214px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $grey;
}


.review-author, .reply-author, .card-author {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.review-author {
  position: absolute;
  width: 240px;
  height: 16px;
  left: 80px;
  top: 214px;
}

.reply-author {
  position: absolute;
  width: 240px;
  height: 16px;
  left: 80px;
  top: 85px;
  color: #000000;
}

.card-author {
  position: absolute;
  /* width: 60px; */
  /* height: 16px; */
  left: 20px;
  top: 214px;
}



/* stars */

.review-stars {
  position: absolute;
  width: 408px;
  height: 18px;
  left: 80px;
  top: 53px;
  font-size: 18px;
  line-height: 18px;
  color: #fbcd33;
}

.card-stars {
  position: absolute;
  left: 20px;
  top: 53px;
  font-size: 18px;
  line-height: 18px;
  color: #fbcd33;
}



/* icons */

.reply-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 28px;
  top: 35px;
  font-size: 18px;
  line-height: 18px;
  color: #097ae6;
}

.comments-icon {
  position: absolute;
  width: 16px; 
  height: 14px; 
  left: 264px;
  top: 215px;
  font-size: 14px;
  line-height: 14px;
  color: $blue;
}

.dots-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 1154px;
  top: 35px;
  font-size: 18px;
  line-height: 18px;
  color: $blue;
}
